.App {
  text-align: center;
}

.blogContainer{
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 30px;
}

.imageContainer{
  width: 90%;
 
  margin: auto;
}
.imageContainer>img{
  width:90%;
  height: 200px;
  margin: auto;
}